extends layout

block content
  h1= title
  p Welcome to #{title}

  table
    thead
      tr: th Routes
    tbody
      each route, i in routes
        tr
          td
            p #{route.method}
          td
            p #{route.path}
    